.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}