.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--primary-color);
  color: #fff
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.list a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-fourth);
  font-weight: bold;
}

.languageBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}