.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: #fff;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  height: 60px;
}

.navbar {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.list a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-fourth);
  font-weight: bold;
}

.burgerButton {
  color: var(--color-fourth)
}

.menuItemWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-fifth);
  font-weight: bold;
}

.icon {
  color: var(--color-fourth);
  cursor: pointer;
}

@media only screen and (min-width: 40em) {
  .burger {
    display: none;
  }

  .navbar {
    position: static;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    overflow: visible;
    height: auto;
    width: auto;
  }
}

@media only screen and (min-width: 48em) {
  .header {
    padding: 0 30px
  }
}