.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--color-text-v2);

  @media screen and (min-width: $small-device) {
    padding: 60px;
  }
}

.sectionIntro {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (min-width: $small-device) {
    grid-template-columns: 1fr minmax(auto, 480px);
  }

  & .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    @media screen and (min-width: $small-device) {
      gap: 25px;
      text-align: center;
    }

    & h1 {
      margin: 0;
      font-size: 1rem;

      @media screen and (min-width: $small-device) {
        font-size: 1.5rem;
      }
    }

    & p {
      margin: 0;
      font-size: 0.75rem;

      @media screen and (min-width: $small-device) {
        font-size: 1rem;
      }
    }
  }

  & .sectionIntroImage {
    width: 100%;
    max-width: 480px;
    position: relative;
    padding-bottom: 120%;
    justify-self: flex-end;
  }
}

.goToAdsButton {
  text-decoration: none;
  border-bottom: 1px solid #9FCBF1;
  color: #9FCBF1;
  width: fit-content;
  margin: 0 auto;
  font-size: 0.9rem;
}

.sectionImage {
  width: 100%;
  max-width: 480px;
  position: relative;
  padding-bottom: 48%;
  margin: 0 auto;

  @media screen and (min-width: $small-device) {
    padding: 0;
    width: 480px;
    height: 230px
  }
}

.homeOffer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  align-items: center;

  & p {
    margin: 0;
  }

  & .img {
    mix-blend-mode: multiply;
  }
}

.howItWorks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 25px;
  align-items: center;
  margin-top: -50px;
}

.getExecutorsButton {
  background: linear-gradient(to left, #F9F0C3 0%, #EFBB03 78%);
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 15px 40px;
  margin: 0 auto;
  height: 42px;
  border-radius: 30px;
  font-weight: 600;
}

.advantages {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;

  & .advantage {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & p {
      margin: 0;
      text-align: center;
    }
  }
}