.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--color-secondary);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}

.category {
  margin: 0 0 10px 0;
}

.subcategories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategory {
  cursor: pointer;
  width: fit-content;
}

.subcategory a {
  text-decoration: none;
  color: var(--color-text)
}

.createWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.createTitle {
  margin: 0;
  text-align: center;
}

.createAdButton,
.createTaskButton {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.createAdButton {
  background-color: var(--color-primary);
}

.createAdImg {
  mix-blend-mode: multiply;
}

.createTaskButton {
  background-color: var(--color-tertiary);
}

.createAdButton a,
.createTaskButton a {
  color: var(--color-secondary);
}

@media only screen and (min-width: 40em) {
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .createAdImg {
    width: 80%;
    height: auto
  }

  .createAdButton,
  .createTaskButton {
    padding: 30px 45px;
    font-size: 2em;
    border-radius: 10px;
    ;
  }
}

@media only screen and (min-width: 48em) {
  .main {
    padding: 30px 50px
  }

  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) {
  .main {
    padding: 40px 80px
  }

  .categories {
    font-size: 20px;
    gap: 40px;
  }
}