.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--color-secondary);
}

.wrapper {
  padding: 30px 0;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}

.category {
  margin: 0 0 10px 0;
}

.subcategories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategory {
  cursor: pointer;
  width: fit-content;
}

.subcategory a {
  text-decoration: none;
  color: var(--color-text)
}

.createWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.createAdButton,
.createTaskButton {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.createAdButton {
  background-color: var(--color-primary);
}

.createTaskButton {
  background-color: var(--color-tertiary);
}

.createAdButton a,
.createTaskButton a {
  color: var(--color-secondary);
}