.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.subcategories {
  list-style: none;
  padding: 0;
}

.subcategory {
  cursor: pointer;
}

.subcategory a {
  text-decoration: none;
}