@import "normalize.css";

:root {
  --color-primary: #3b8beb;
  --color-secondary: #fffff0;
  --color-tertiary: #b23850;
  --color-fourth: #c4dbf6;
  --color-fifth: #8590aa;
  --color-text: rgb(34, 34, 34);

  --small-device: 40em;
  --medium-device: 48em;
  --large-device: 64em;

  --color-text-v2: #31456A;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}