.footerWrapper {
  width: 100%;
  background-color: var(--color-fourth);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.list a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
}

.languageBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-text)
}

.basement {
  display: flex;
  gap: 30px;
}